@bl:#13100D;
@w:#ffffff;
@bc1:#423b3b;
@hc:#90D7D2;
@red:#EA2C32;
@m:20px;
@m2:40px;
@m3:80px;
@m4:160px;
@m250:250px;


.f2{
	font-size: 2rem;
}
.f{
	font-size: 18px;
}
.f15{
	font-size:1.5rem;
}
.hc{
	color:@hc;
	.trans4;
}
.white{
	color:#ffffff;
}
.w100{
	width: 100%;
}
.w80{
	width: 80%;
	margin: 0 auto;
}
.positionA{
	position:absolute;
}
.column{
	display:flex;
	flex-direction: column;
}
.flex{
	display: flex;
}

.allcenter{
	justify-content: center;
	align-items:center;
	display: flex;
}
.thefont{
	font-family: 'Gloss_And_Bloom.ttf';
	text-transform: none;
}
.trans4{
	transition: .4s;
}
.thefont{
	font-family: 'Introcond';
	font-size:18px;
}
.thefontbold{
	font-family: 'IntrocondBold';
	font-size:20px;
}
@font-face{
font-family: 'Introcond';
src: url('../fonts/introCond.ttf');
font-weight: normal;
font-style: normal;
}
@font-face{
	font-family: 'IntrocondBold';
	src: url('../fonts/introCondBold.ttf');
	font-weight: normal;
	font-style: normal;
	}
.leftW{
	width: 250px;
}
body, p{
	margin:0;
	padding: 0;
	.thefont;
}
button{
	background: none;
	border: none;
	.thefont;
	font-size: 1.8em;
	padding:0;
}
input{
	.thefont;
}
h1{
	text-align: center;
}
a{
	text-decoration: none;
	color:@bl;
	.trans4;
	&:hover{
		cursor: pointer;
		// color:@hc;
	}
}
b{
	font-family: 'IntrocondBold';
}
header{
	.flex !important;
	justify-content: space-between;
	align-items: center;
	padding:20px 40px;
}
.logo__div{
	.leftW;
	text-align: left;
	img{
		width: 150px;
	}
}
.header__menu{
	flex-grow: 1;
	ul{
		padding-left:0;
		.flex;
		list-style-type: none;
		li{
			margin-right:5vw;
			a{
				&:hover{
					.hc;
				}
			}
		}
	}
}
.header__icons{
	.flex;
	float:right;
	margin-right:@m2;
	a{
		svg{
			height: 25px;
    	margin: 0 3px;
		}
	}
}
footer{
	.white;
	height: 50vh;
	background:@bl;
	padding:40px;
	.flex !important;
	margin-top:100px;
	a{
		.white;
	}
}
.footer__div{
	text-align: left;
	height: 100%;
	flex:1;
	&:first-child{
		.column;
		justify-content: space-between;
	}
	&:nth-child(2){
		.column;
	}
	&:last-child{
		.flex;
		div{
			text-align: left;
			flex:1;
		}
	}	
}
.logo__footer{
	width: 40%;
}

.slim{
	font-size: 0.7em;
}

.footer__div__two{
	a{
		margin-bottom: @m;
	}
}

.footer__div__three{
	div{
		&:last-child{
			.column;
			justify-content: space-between;
		}
	}
}
.wrapper{
	padding:0 40px;
	h1{

	}
}
.wrapper__catalog{
	.flex;
	padding:0 40px;
}
.catalog__part{
	flex:1;
	flex-grow: 1;
}
.right__part{
	flex:1;
	flex-grow: 1;
	h1{
		text-align: left;
	}
}
.catalog__item{
	svg{
		width: 30px;
		margin-top:10px;
	}
}
.catalog__pages{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap:40px;
}
.catalog__item{
	.trans4;
	.img__wrap{
		position: relative;
		.w100;
		img{
			.w100;
		}
	}
	
	p{
		margin:10px 0;
	}
}
.sale__price{
	color:@red;
}
.old__price{
	font-size: 0.8em;
	position: relative;
	margin-right:15px;
	&:after{
		content: '';
    position: absolute;
    right: 0;
    bottom: 50%;
    width: 100%;
    height: 1px;
    background:@bl;
	}
}
.new__sign{
	position: absolute;
	bottom: 6px;
	right: 0;
	background:#F0BE84;
	z-index: 100;
	padding:5px;
}
.sale__sign{
		position: absolute;
    top: 15%;
    left: 0;
    background: white;
		z-index: 100;
		padding: 0 3px;
		color:@red;
}
.left__part{
	width: @m250;
	.leftW;
}
.menu__categories, .catalog__menu__brands{
	.column;
	a{
		margin-bottom: 10px;
	}
}
.catalog__menu__brands{
	
	margin-top:40px;
	b{
		margin-bottom:20px;
	}
}
.basket__total{
	margin-top:@m2;
	.f2;
}

.promocode{
	margin-top:@m2;
	width: 70%;
	.flex;
	form{
		.flex;
		width: 100%;
		input{
			.w100;
			height: 30px;
		}
		label{
			font-size: 0.6em;
		}
		button{
			.f;
			height: 40px;
			margin-left:15px;
		}
	}	
}
.to__right{

}
.button__bottom{
	margin-top:@m2;
	// margin-left:290px;
	.bottom__line{
		width: 50px;
		margin: 0;
		height: 2px;
		background:@bl;
	}
}
#insert__promocode{
	opacity: 0;
	.trans4;
}

.bottom__line{
	.trans4;
}

.show__more__main{
	margin-left: 15%;
}
.the__very__first__img{
	.w100;
}

.most__popular{
	width: 80%;
	margin:0 auto;
	p{
		&:first-child{
			margin-left: 20px;
			.f2;
			margin-bottom:20px;
		}
	}
}

.most__popular__slider{
	.catalog__item{
		margin:0 20px;
	}
}

.main__ikra__svg{
	width: 68%;
	margin-left: 30%;
	margin-top: 40px;
	margin-bottom:@m4;
}

.first__main__p__text{
	width: 60%;
	margin-bottom:@m4;
	font-size: 1.8rem;
	margin-left:@m;
}

.go__shopping__main{
	margin:@m4;
	.flex;
	justify-content: flex-end;
	button{
		font-size: 3rem;
	}
}
.about__preview{
	.flex;
	margin-bottom:@m3;
	.about__preview__text{
		justify-content: space-between;
		align-items:flex-start !important;
		.column;
		flex:1;
		p{
			width: 70%;
			margin:0 auto;
			.f15;
		}
		img{
			.w100;
		}
	}
}
.most__popular__slider__full{
	position: relative;
	svg{
		width: 20px;
		position: absolute;
		top:40%;
		&:first-child{
			left:-20px;
			transform: rotateZ(180deg);
		}
		&:last-child{
			right:-20px;
		}
	}
}
.item__wrapper{
	padding:0 40px;
}
.item{
	.flex;
}
.item__imgs{
	flex:2;
	margin-right:@m;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap:@m;
	img{
		.w100;
	}
}
.item__props{
	flex:1;
	.column;
	.f15;
}

.item__name{
	.f2;
}
.item__art{
	margin-bottom: @m;
	.f;
}
.item__price{
	.f2;
	margin-bottom: @m;
}
.choose__size__link{
	.f15;
	margin-bottom:10px;
}
.size__choosing{
	display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 60%;
		grid-gap: 10px;

		margin-bottom: @m;
}

.item__quantity{
	.f15;
	margin-bottom: @m;
}
.item__sizes{
	form{
		.button__bottom{
			margin-bottom:@m2;
		}
	}
}
.item__color{
	margin-bottom: @m;
}
.item__material{
	margin-bottom:@m2;
}
.item__description{
	.f;
	margin-bottom: @m2;
}
.item__helpfull__links{
	.flex;
	justify-content: space-between;
	width: 80%;
	.f;
}

.interesting__slider__full, .earlier__slider__full{
	width: 80%;
	margin:0 auto;
	position: relative;
	.catalog__item{
		margin:10px;
	}
}
.mpl, .mpr{
	width: 20px;
	position: absolute;
		top:40%;
}
.mpl{
	left:-20px;
	transform: rotateZ(180deg);
}	

.mpr{
	right:-20px;
}
.interesting, .checked__earlier__sign{
	margin-top:@m3;
	margin-left:10%;
}
.breadcrumbs{
	margin-bottom:@m;
	margin-top: @m2;
	.flex;
	align-items: center;
}
.dot{
	width: 5px;
	margin:0 5px;
}
.size__choosing{
	input{
		position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
	}
}

.size__choosing__label{
	display: flex;
	justify-content: center;
	align-items: center;
}

.size__choosing__label:not(:disabled):not(.disabled).active, .size__choosing__label:not(:disabled):not(.disabled):active, .show>.size__choosing__label.dropdown-toggle{
	background-color:@bl !important;
	border-color:@bl !important;
	color:#ffffff !important;
}
.btn-secondary.focus, .btn-secondary:focus{
	box-shadow: none !important;
}
.basket__link{
	position: relative;
	div, svg{
		position: absolute;
	}
	div{
		display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 32px;
    top: 0;
    left: 0;
    font-size: 15px;
		
	}
}

.double-slider{
	.flex;
	.w100;
}

.orders__history__full h2{
	margin:80px 0 10px 10px;
}
.u__liked__full{
	h2{
		margin-left:10px;
		margin-right: 10px;
		margin-bottom: 0;
	}
}
.liked{
	align-items: flex-end;
	.flex;
	svg{
		width: 30px;
		margin-bottom: 6px;
	}
}

.lk__prop{
	font-size: 15px;
	margin-bottom:10px;
}

.lk__prop__value{
	.f15;
	margin-bottom:@m2;
}
.personal__data{
	.flex;
	width: 60%;
	margin-left: 25%;
	margin-bottom: @m3;
	div{
		flex:1;
	}
}
.offers{
	width: 50%;
	margin-bottom: 150px;
	margin-left: 10%;
}
.lk h1{
	text-align: left;
  margin-left: 25%;
}

.double__sliders{
	.w100;
	.flex;
	position: relative;
	svg{
		position: absolute;
		width: 30px;
	}
}
.double__slider{
	width: 50%;
}
.armr, .arml{
	top:50%;
	z-index:100;
}
.arml{
	left:52%;
	transform: rotateZ(180deg);
}
.armr{
	right:52%;
}
.arml2{
	left:2%;
}
.armr2{
	right:2%;
}
#minus, #plus{
	&:hover{
		cursor: pointer;
	}
}
.wrapper__about{
	h1{
		margin-left:@m250;
		text-align: left;
	}
}
.about__preview__text__about{
	justify-content: center !important;
}
.about__three__images{
	.flex;
	margin-bottom:@m3;
	div{
		flex:1;
		margin-right: @m2;
		&:last-child{
			margin-right: 0;
		}
		img{
			.w100;
			
		}
	}
}
.about__text__2{
	position: relative;
	padding-left: 40%;
	margin-bottom:@m4;
	margin-top: @m3;
	p{
		text-align: right;
		.f15;
	}
}
.ikra__left{
	position: absolute;
	top:-110%;
	left:0;
	width: 10%;
}
.big__break{
	margin-bottom:@m3;
}

.about__text__two{
	width: 60%;
	margin:0 auto;
	text-align: left;
	margin-bottom:@m4;
	p{
		.f15;
	}
}
.about__last__img{
	position: relative;
	padding:0 20%;
	img{
		width: 100%;
		margin:0 auto;
		margin-bottom: @m3;
	}
	p{
		margin-bottom:@m250;
		.f15;
	}
}
.bigger__sign{
	position: absolute;
	top:20%;
	right: 0;
	width: 50px;
}

// .nav-tabs{
// 	border-bottom: none !important;
// 	&:actve{
// 		border-bottom: none !important;
// 	}
// }
// .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
// 	border:none !important;
// 	border-bottom: 1px solid @bl !important;
// 	margin:0 !important;
// }

.info__text{
	position: relative;
	p{
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		z-index:10;
		.trans4;
		&:first-child{
			opacity: 1;
			position: relative;
		}
	}
}
.shown__text{
	opacity: 1 !important;
}
.info{
	width: 70%;
	margin:0 auto;
	min-height: 70vh;
}
.info__header{
	.flex;
	justify-content: space-around;
	margin-bottom: @m;
}

.locations{
	min-height: 80vh;
	.flex;
	padding:0 40px;
}
.maps{
	flex-grow:1;
}

.cities{
	.column;
	a{
		margin-bottom: 20px;
	}
}
.maps{
	position: relative;
}
.map{
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		z-index:10;
		.trans4;
		.flex;
		&:first-child{
			opacity: 1;
			position: relative;
		}
}
.map__data{
	.column;
	width: 250px;
	p{
		margin-bottom: @m;
	}
}
.map__itself{
	flex-grow: 1;
	iframe{
		border:none;
	}
}
.locations__h1{
	text-align: left;
	margin-left:290px;
}

.brand__top__sign, .brand__description{
	opacity: 0;
	.trans4;
}
.slick-initialized .slick-slide {
	display: flex !important;
	flex-direction: column;
	justify-content: space-between;
}	

.brands__slider{
	z-index:100;
	width: 80%;
	.slick-slide{
		height: 50vh;
	}

}
.brands__slider__wrapper{
	position: relative;
	height: 100vh;
	overflow: hidden;
	.allcenter;
	svg{
		position: absolute;
		top:50%;
		left:5%;
		z-index:100;
		width: 30px;
		transform: rotateZ(180deg);
		&:last-child{
			left:95%;
			transform: rotateZ(0deg);
		}
	}

}
.brands__back{
	position: absolute;
	top:0;
	left:0;
	z-index:1;
	.w100;
	img{
		.w100;
	}
}

.brand__name{
	width: fit-content;
	color:#ffffff;
	.thefontbold;
}

.brand__top__sign, .brand__description{
	color:#ffffff;
}
.brand__description{
	font-size: 15px;
}
@keyframes sh{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes hd{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
.show__nice__text{
	opacity: 0;
	animation: sh .5s forwards;
}
.hide__text{
	opacity: 1;
	animation: hd .5s forwards;
}

@media screen and(max-width: 768px) {
	
}